<html lang="en">
<head>
	<meta charset="utf-8">
	<title><%= name %></title>
	<!-- For all your styling needs -->
	<link rel="stylesheet" href="styles/main.css" />
</head>
<body>

<%= mainDivStructure %>

	<!-- require.js -->
	<script src="lib/require.js"> </script>

	<!-- require.js configuration -->
	<script>
		require.config(
			{
				paths: {
					<% _.forEach(paths, function(pathObject) { %>"<%= pathObject.alias %>": "<%= pathObject.path %>",
					<% }); %>
				}
			}
		);

		//Up until now it has been boilerplate, from now on it's all magic. That is, your magic.
		require(["domready!", "main"], function(doc, main) {});
	</script>
</body>
</html>
